<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <a class="titleName" href="/static"><h1 class="titleName">Weather Dashboard</h1></a>
        <form class="weatherText" id="weatherForm" action="{{ url_for('render_results') }}" method = "post">
            Location City Name: <input class="weatherText" id="weatherInput" type="text" name="city"><br>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        <input class="weatherText" id="weatherSubmit" type="submit" value="Submit">
        </form>
        <footer>
            <p>Copyright © 2026 Abdul Hadi Asif Hassan<br>
            <a href="https://github.com/abdulhadiasifhassan-coder"><img src="https://img.shields.io/badge/GitHub-abdulhadiasifhassan--coder-181717?style=flat&logo=github" alt="GitHub Profile"></a></p>
        </footer>
    </body>
</html>
